.another-post {
    display: flex;
    flex-direction: column;
    max-width: 558px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

@media (max-width: 776px) {
    .another-post {
        width: 100%;
    }
}

.container-another-content {
    padding: 10px;
}

.img-another-post {
    width: 100%;
}

.another-post__footer {
    display: flex;
    justify-content: space-between;
}